# exclude all
/*

# Include Important Folders
!src/

# Other Files.
!LICENSE.txt
!README.md

# Gradle stuff
!gradle/
!gradlew
!gradlew.bat
!build.gradle.kts
!settings.gradle.kts

# Include git important files
!.gitmodules
!.gitignore
!.github/
